@font-face {
  src: url(Fonts/klavika-bold.otf);
  font-family: Klavika;
}

:root{
  --Main-Color:#008d0c;
  --Secondary-Color:#ffffff;
  --Background-Color:#595959;
  --Accent-Color:#0dd31e;
  --Text-color1: #000000; 
  --Text-color2: #ffffff;
}

/*
:root{
  --Main-Color:#57c544;;
  --Secondary-Color:#e0ecda;
  --Background-Color:#ecf3e7;
  --accent-Color:#657c5a;
  --Text-color1:  #0c1109; 
  --Text-color2: #ffffff;
}
*/

body{
margin-top: 0px;
margin-bottom: 0px;
margin-left: 0px;
margin-right: 0px;

}


div.navbar.ul
/*Navigation bar*/
body {margin:0;}
        
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
 padding: 16px 16px;
  text-decoration: none;
  padding-top: 20px;
}

ul a:hover:not(.active) {
  background-color: #111;
  padding-bottom: 20px;
  padding-top: 20px;
}

/*NavigationBar acktive*/
.active-navbar {
  background-color: var(--Main-Color);
  padding-bottom: 20px;
  padding-top: 20px;
}


/*Bottom of Page*/
li.bp{
    float: bottom;
}


#hjælp {
  margin-top: 70px;
  font-size: larger;
  margin-left: 10%;
  margin-right: 10%;
  text-align: center;
  font-style: normal;
  background-color: rgb(214, 214, 214);
  padding-bottom: 20%;
  
}


#body {
  text-align: center;
  margin-top: 70px;
  margin-left: 10%;
  margin-right: 10%;
  font-size: larger;
  background-color: #ccc;
  border-radius: 15px 15px 15px 15px;
  padding-bottom: 20px;
}

#findpsy2 {
  text-align: center;
  margin-top: 55px;
  margin-left: 10%;
  margin-right: 10%;
  font-size: larger;
  background-color: var(--Secondary-Color);
  height: 100%;
  padding-bottom: 10%;
  margin-bottom: 5%;
  border-radius: 15px 15px 15px 15px;
}

#fundet {
  text-align: center;
  margin-top: 70px;
  margin-left: 10%;
  margin-right: 10%;
  font-size: larger;
  background-color: var(--Secondary-Color);
  height: 100%;
  padding-bottom: 25%;
  margin-bottom: 10%;
  font-family: Arial, Helvetica, sans-serif;
  
}
.table {
  border: 2px solid #000000;
  text-align: left;
 
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  margin-top: 90px;
}

.maps {
  margin-top: 100px;
}

#background{
  background-color: var(--Background-Color);
  margin-top: 0;
  padding-top: 1%;
  margin-bottom: 0px;
  padding-bottom: 230px;
}

.overskrift {
  background-color: var(--Main-Color);
  color: rgb(255, 255, 255);
  margin-left: 212px;
  margin-right: 212px;
  border-radius: 15px;
  padding: 10px;
}
body{
  background-color: var(--Background-Color);
}

.Textbox {
  margin: 25px auto auto;
  width: 50%;
  background-color: var(--Secondary-Color);
  width: 90%;
  border-radius: 15px 15px 15px 15px;
  padding-top: 10px;
}
.p1 {
  text-align: justify;
  text-justify: inter-word;
  margin: 20px;
  line-height: 50px;
}
.Tid {
  margin: 10px auto auto; 
  width: 48%;
  background-color: var(--Secondary-Color);
  width: 90%;
}
.Button{
  text-decoration: none;
  color: var(--Text-color1);
font-family: Arial, Helvetica, sans-serif;
  font-size: x-large;
  font-weight: 	bolder;

}
div.background2 {
  background: var(--Secondary-Color) round;
  border: 5px solid #ccc;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 15px 15px 15px 15px;
  width: 90%;
  margin: auto;
  text-align: center;
}

div.facebook {
  background: rgb(90, 121, 232) round;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 15px 15px 15px 15px;
  width: 90%;
  margin: auto;
  text-align: center;
}
.facebookB{
  text-decoration: none;
  color: var(--Text-color2);
  font-family: klavika;
  font-size: 60px;
  font-weight: 	bolder;
}
h5{
  font-size: 30px;
}
.overskrift2 {
  background-color: var(--Accent-Color) ;
  color: var(--Text-color2);
  margin-left: 212px;
  margin-right: 212px;
  border-radius: 15px;
  padding: 10px;
  margin-top: 3px;

}
.diplom{
  aspect-ratio: 3/4;
  width:50vw;
}
.Textbox1{
  width: 50vw;
  margin: 25px auto auto;
  background-color: var(--Secondary-Color);
  border-radius: 15px 15px 15px 15px;
  padding-top: 10px;
}
